body
{
    background-color: #000;
}

#landing-header 
{
    z-index: 1; /* z-plane z-index = 1 means it is comming forward towards us and will layer on top of any content that has a z-index smaller than 1*/
    position: relative;/* in order to use the z-index we have to change the position to something other than default static*/
    text-align: center;
    padding-top: 40vh;  /* view height */
}

#landing-header h1 
{
    color: #fff;
}
#landing-header h3 
{
    color: #fff;
}

.slideshow 
{ 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0; /* i,e, the background images are behind the other content like "Welcome to YelpCamp!" ....*/
    list-style: none;  /* remove bullet points */
    margin: 0;
    padding: 0;
}

.slideshow li 
{ 
    width: 100%;
    height: 100%;
    position: absolute;  
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%; /* this will centre the image perfectly on the page */
    background-repeat: no-repeat; /* so image does not repeat vertically or horizontally */
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) 
{ 
    background-image: url(https://i.pinimg.com/originals/d8/d3/e4/d8d3e48836c2e9a366d332ad7bcc56e0.jpg) 
}
.slideshow li:nth-child(2)
{ 
    background-image: url(https://free4kwallpapers.com/uploads/originals/2015/10/17/most-beautiful-travel-destinations.jpg);
    animation-delay: 10s; 
}
.slideshow li:nth-child(3)
{ 
    background-image: url(https://wallpapercave.com/wp/k0Pw2hZ.jpg);
    animation-delay: 20s; 
}
.slideshow li:nth-child(4)
{ 
    background-image: url(https://images.hdqwalls.com/wallpapers/eiffel-tower-paris-4k-wide.jpg);
    animation-delay: 30s; 
}
.slideshow li:nth-child(5)
{ 
    background-image: url(https://wallpaperaccess.com/full/115103.jpg);
    animation-delay: 40s; 
}

@keyframes imageAnimation
{ 
    0% 
    { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% 
    {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% 
    {
      opacity: 1
    }
    30% 
    {
      opacity: 0
    }
}