*{
    font-family: 'Otomanopee One', sans-serif;
}
body{
    background-color: rgb(206, 206, 206);
}
.thumbnail img
{
width:100%
}

.thumbnail
{
    padding: 0;
}
.thumbnail .caption-full
{
padding: 9px;
}

#delete_form{
    display: inline;
}

#delete_form1{
    display: inline;
}